
.colaboradores__container {
    margin-top: 2em;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 2em 8em;
}
.colaboradores__titulo {
    color: var(--cor-vinho);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    margin-bottom: 1em;
}
.colaboradores__titulo-principal {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
}
.perfil {
    margin: 4em 0 2em 0;
}
.perfil__nome {
    font-weight: 600;
    line-height: 24px;
}
.perfil__profissao {
    font-size: 14px;
    color: var(--cor-secundaria);
    margin-bottom: 64px;
}
